@import url("/static/style/common.css");
@import url("/static/style/form-common.css");

.list-thing {
    text-align: center;
    font-size: 1.2rem;
} 

.grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.grid ul {
    width: fit-content;
    margin: auto;
    margin-top: .25rem;
    text-align: left;
}