table {
    border-collapse: collapse;
}

table, tr{
    border-top: 1px solid light-dark(var(--black), var(--white));
    border-bottom: 1px solid light-dark(var(--black), var(--white));
}

td, th {
    text-align: center;
    padding: .1rem .75rem;
}

tbody tr:nth-child(even) {
    background-color: color-mix(in srgb, light-dark(var(--grey), var(--white)) 20%, transparent);
}