<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Borders - login</title>
    <link rel="stylesheet" href="/static/style/login.css" />
  </head>
  <body>
    <h1>Please log in.</h1>
    <form method="post" class="card">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" placeholder="admin" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="hunter1"/>
      <input type="submit" value="Log in">
    </form>
  </body>
</html>
